.section {
    width: 100%;
    color: var(--light);
    font-size: 0.85rem;
    font-family: var(--mono);
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
    text-transform: uppercase;
}

.badge {
    background-color: var(--dim);
    color: black;
    padding-inline: 0.6rem;
    border-radius: var(--border-md);
}

.filter {
    border: 1px solid var(--border);
    border-radius: var(--border-md);
    min-width: 10rem;
    padding: 0.35rem 0.7rem;
    background-color: inherit;
}
.filter::placeholder {
    font-weight: lighter;
    font-family: var(--mono);
}

.repos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    gap: 1rem;
}
