.header {
    margin-bottom: 2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--mono);
}

.logo {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.subtitle {
    font-family: var(--mono);
    font-size: 0.8rem;
    color: var(--light);
}
