.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.title {
    font-family: var(--mono);
}

.logo {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.subtitle {
    color: gray;
}
