.searchBar {
    display: flex;
    gap: 0.5rem;
}

.input {
    padding: 0.7rem;
    border-radius: 8px;
    font-size: 1.08rem;
    border: 1px solid gray;
}

.btn {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #238636;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

.btn:hover {
    background-color: #2ea043;
}
